In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

# 讀取資料

In [9]:
y = pd.read_csv('stock_data\\0056.csv')
x1 = pd.read_csv('stock_data\\1101.csv')
x2 = pd.read_csv('stock_data\\2327.csv')
x3 = pd.read_csv('stock_data\\2352.csv')
x4 = pd.read_csv('stock_data\\2385.csv')
x5 = pd.read_csv('stock_data\\2449.csv')
x6 = pd.read_csv('stock_data\\2915.csv')
x7 = pd.read_csv('stock_data\\3005.csv')
x8 = pd.read_csv('stock_data\\3532.csv')
x9 = pd.read_csv('stock_data\\6176.csv')
x10 = pd.read_csv('stock_data\\9945.csv')

# 把資料合併根據date欄位合併在一起

In [15]:
merged = pd.merge(y, x1, on='date')
merged = pd.merge(merged, x2, on='date')
merged = pd.merge(merged, x3, on='date')
merged = pd.merge(merged, x4, on='date')
merged = pd.merge(merged, x5, on='date')
merged = pd.merge(merged, x6, on='date')
merged = pd.merge(merged, x7, on='date')
merged = pd.merge(merged, x8, on='date')
merged = pd.merge(merged, x9, on='date')
merged = pd.merge(merged, x10, on='date')

In [16]:
merged

,date,0056_close_y,1101_Turnover,1101_Volume,1101_close,1101_eps,1101_high,1101_low,1101_open,1101_ups_and_downs,...,6176_ups_percent,9945_Turnover,9945_Volume,9945_close,9945_eps,9945_high,9945_low,9945_open,9945_ups_and_downs,9945_ups_percent
0,7691,343.558155,660458.0,17253.0,38.20,10.4945,38.50,38.20,38.25,-0.25,...,-0.22,55429.0,1139.0,48.70,3.0324,48.75,48.55,48.55,0.25,0.52
1,7330,334.585982,224111.0,6095.0,36.90,20.1600,37.00,36.50,36.50,-0.10,...,-1.45,97527.0,3014.0,32.40,7.3100,32.55,31.90,32.10,-0.10,-0.31
2,6825,308.877787,322056.0,9133.0,35.00,26.1200,36.05,35.00,36.05,-1.05,...,-1.17,101583.0,2744.0,36.95,6.6600,37.50,36.80,37.25,-0.30,-0.81
3,6978,311.482266,265164.0,6959.0,38.20,22.3400,38.40,37.55,37.70,0.40,...,0.33,55584.0,1425.0,38.95,8.3900,39.15,38.80,38.95,0.00,0.00
4,8041,NaN,656944.0,15381.0,42.60,10.4926,42.90,42.50,42.50,0.20,...,0.97,36133.0,853.0,42.30,3.8986,42.50,42.20,NaN,0.30,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,7287,344.653491,497368.0,13011.0,37.85,20.6800,38.65,37.75,38.60,-0.65,...,1.67,129852.0,3844.0,33.65,7.6000,33.95,33.65,33.95,-0.15,-0.44
848,7166,354.031937,462145.0,13633.0,33.95,17.5900,34.15,33.80,NaN,-0.35,...,-2.29,53842.0,1859.0,28.80,6.0500,NaN,28.80,29.10,-0.30,-1.03
849,7817,366.349618,801137.0,17270.0,46.35,11.0885,46.60,45.90,46.00,0.20,...,-0.50,83028.0,1885.0,43.90,4.6455,44.65,43.80,44.60,-0.65,-1.46
850,7575,296.523004,542926.0,14968.0,36.45,10.5700,36.45,36.00,36.25,0.80,...,1.12,67220.0,1554.0,43.30,4.5100,43.45,43.05,43.40,0.25,0.58
851,7813,371.163373,634441.0,13840.0,46.05,11.0167,46.05,45.60,46.00,0.10,...,-0.48,49079.0,1101.0,44.40,4.6984,44.90,44.40,44.70,-0.40,-0.89

# 用迴圈讀取資料，返回字典

In [17]:
def read_files(root):
    dataset = {}
    files = list(glob.glob(os.path.join(root, "*.csv")))
    for file_path in files:
        print(f'read file:{file_path}')
        code = file_path.replace('stock_data\\','').replace('.csv','')
        df = pd.read_csv(file_path)
        dataset[code] = df
    
    return dataset

In [18]:
ds = read_files('stock_data')

read file:stock_data\0056.csv
read file:stock_data\1101.csv
read file:stock_data\2327.csv
read file:stock_data\2352.csv
read file:stock_data\2385.csv
read file:stock_data\2449.csv
read file:stock_data\2915.csv
read file:stock_data\3005.csv
read file:stock_data\3532.csv
read file:stock_data\6176.csv
read file:stock_data\9945.csv

# 用迴圈把所有的資料合併在一起

In [19]:
def merge_ds(datasets):
    result = pd.DataFrame()
    for dt in datasets.values():
        if result.empty:
            result = dt
        else:
            result = pd.merge(result, dt, on='date')
    
    return result

In [21]:
merged2 = merge_ds(ds)
print(merged2.shape)
merged2.head()

(852, 92)

,date,0056_close_y,1101_Turnover,1101_Volume,1101_close,1101_eps,1101_high,1101_low,1101_open,1101_ups_and_downs,...,6176_ups_percent,9945_Turnover,9945_Volume,9945_close,9945_eps,9945_high,9945_low,9945_open,9945_ups_and_downs,9945_ups_percent
0,7691,343.558155,660458.0,17253.0,38.2,10.4945,38.50,38.20,38.25,-0.25,...,-0.22,55429.0,1139.0,48.70,3.0324,48.75,48.55,48.55,0.25,0.52
1,7330,334.585982,224111.0,6095.0,36.9,20.1600,37.00,36.50,36.50,-0.10,...,-1.45,97527.0,3014.0,32.40,7.3100,32.55,31.90,32.10,-0.10,-0.31
2,6825,308.877787,322056.0,9133.0,35.0,26.1200,36.05,35.00,36.05,-1.05,...,-1.17,101583.0,2744.0,36.95,6.6600,37.50,36.80,37.25,-0.30,-0.81
3,6978,311.482266,265164.0,6959.0,38.2,22.3400,38.40,37.55,37.70,0.40,...,0.33,55584.0,1425.0,38.95,8.3900,39.15,38.80,38.95,0.00,0.00
4,8041,NaN,656944.0,15381.0,42.6,10.4926,42.90,42.50,42.50,0.20,...,0.97,36133.0,853.0,42.30,3.8986,42.50,42.20,NaN,0.30,0.71